{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0,
    "class-methods-use-this": 0,
    "arrow-parens": [2, "as-needed"],
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": 0,
    "implicit-arrow-linebreak": 0,
    "no-confusing-arrow": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "document": false,
    "window": false,
    "fetch": false,
    "test": false,
    "describe": false,
    "beforeAll": false
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
